<div class= 'col-xs-3'></div>
<div class= 'col-xs-6'>
	<h2 class = 'text-center'>Sign up</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html=>{class: 'form-horizontal'}) do |f| %>
	
	<% unless resource.errors.empty? %>
	<div class = 'devise_error text-center form-group bg-danger'>
		<ul class = 'list-unstyled' >
			<% resource.errors.full_messages.each do |msg| %>
			<li> <%= msg %> </li>
			<% end %>
		</ul>
	</div>
	<%  end %>

	
  <div class = 'form-group'><%= f.label :name %><br />
		<%= f.text_field :name, :class => 'form-control',:autofocus => true %></div>

	<div class = 'form-group'><%= f.label :email %><br />
		<%= f.email_field :email, :class => 'form-control'%></div>

		<div class = 'form-group'><%= f.label :password %><br />
			<%= f.password_field :password,:class => 'form-control' %></div>

			<div class = 'form-group'><%= f.label :password_confirmation %><br />
				<%= f.password_field :password_confirmation,:class => 'form-control' %></div>

				<div class = 'form-group'><%= f.submit "Sign up" ,class: 'btn btn-default'%></div>
				<% end %>

				<div class = 'text-center' >
					<%= render "devise/shared/links" %>
				</div>
</div>
<div class= 'col-xs-3'></div>
