<div class = 'container'>
  <div class = 'row' >
    <% @listings.each do |listing| %>
    <div class = 'col-md-3'>
      <div class = 'thumbnail'>
        <a href= <%= url_for(listing)%>><%= image_tag(listing.image.url, class:'img-responsive')%></a>
        <div class ='caption'>
          <h3><%= listing.name %> </h3>
          <p>
            <%= listing.description %>
            <% if listing.user %>
            <p class = 'text-right'> <strong> Sold by <%= listing.user.name.capitalize %></strong></p>
            <% end %>
            <p class = 'lead'><%= number_to_currency listing.price %></p>

          </p>
          <p>
            <% if current_page?({:controller => "listings",:action =>'seller'}) %>
              <%#= link_to 'Show', listing ,class: 'btn btn-default'%>
              <%= link_to 'Edit', edit_listing_path(listing),class: 'btn btn-default' %>      
              <%= link_to 'Destroy', listing,class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
        </div>
        
      </div>
    </div>
    <%end %>
  </div>
  <%= link_to 'New Listing', new_listing_path,class: 'btn btn-link' if current_user %>
</div>
