<div class= 'col-xs-3'></div>
<div class= 'col-xs-6'>
	<h2 class = 'text-center'>Forgot your password?</h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { class:'form-horizontal',:method => :post }) do |f| %>
	
    <% unless resource.errors.empty? %>
	<div class = 'devise_error text-center form-group bg-danger'>
		<ul class = 'list-unstyled' >
			<% resource.errors.full_messages.each do |msg| %>
			<li> <%= msg %> </li>
			<% end %>
		</ul>
	</div>
	<%  end %>

	<div class = 'form-group'><%= f.label :email %>
		<%= f.email_field :email, :autofocus => true, :class => 'form-control' %></div>
		<br>

		<div class='form-group'><%= f.submit "Send me reset password instructions", class: 'btn btn-default' %></div>
		<% end %>
	</div>
	<div class= 'col-xs-3'></div>
