
<div class = 'row'>
<div class = 'col-xs-3'>
	
						<div class = 'thumbnail'>
			<%= image_tag(@listing.image.url,class:'img-responsive')%>
		</div>
		<h4> <%= @listing.name %> </h4>
		<h4 class = 'lead'> <%= number_to_currency @listing.price %> </h4>


</div>

<div class = 'col-xs-6'>
	<%= render 'form' %>
	<%= link_to 'Cancel', :back, class:' pull-right btn btn-danger',style: 'color:white' %>
</div>

<div class = 'col-xs-3'></div>
</div>